extends layout

block append js
  script(src='/components/d3/d3.js')
  script(src='/js/blackjack.js')

block content

  svg.blackjack

  .modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          h4.modal-title BlackJack Simulation Tech Spike
        .modal-body
          p A simulation of 1000 blackjack games using <a href="http://wizardofodds.com/games/blackjack/strategy/4-decks/">basic strategy</a>.
          p On the left side of the screen, you'll see the cards being played.  On the right side of the screen, you'll see the winnings/losings of the strategy over time, with $10 bets each hand.
          small
            p 
              | Heads up -- if you're on a 
              span.warning mobile device
              | , this spike may:
            ol
              li: span.warning Look terrible.
              li: span.warning Diminish your battery.
          a.showNotes(role="button", data-toggle="collapse", href=".spikeNotes") Notes
          .notes.spikeNotes.collapse
            small
              p The technical bits in this spike include:
              ul
                li A blackjack engine <a href="http://github.com/tcgarvin/bjjs">written in node</a>, running in your browser thanks to browserify.
                li A simple d3.js graph showing progress over each hand.
                li A d3.js illustration of each hand.  The difficult part here is getting web-ready SVG cards. Ended up converting <a href="http://sourceforge.net/projects/vector-cards/">these</a> myself.  (The 5 of spades still doesn't show up, and I still need to dedup the pip paths to bring the size down from 700kB.)
        .modal-footer
          button.btn.btn-primary.runSpike Run Spike
