extends layout

block content

  .top-thing
    .container
      .row
        .col-xs-12.col-md-8.col-md-offset-2
          h1 This is not a real page.
          p.lead There's a good chance Tim doesn't know anything is wrong. (You should tell him.)
          p
            em= error.status + " - " + message

