extends layout

block append js
  script(src='/js/index.js')

block content

  .top-thing
    .container
      .row
        .col-xs-4.col-md-6.text-right
          img.userpic
        .col-xs-8.col-md-6.text-left
          h1 Hello,<br>I'm Tim.

  .container
    .row
      .col-xs-12.col-md-8.col-md-offset-2
        p
          | You've stumbled upon an experimental site that I've put up using 
          a(href="https://console.ng.bluemix.net/home/") IBM's Bluemix platform
          | .  You won't find much content, though there may be some tech demos here and there.

  .container
    .row
      .col-xs-12.col-md-8.col-md-offset-2
        h2.under-top-thing About Me
        p.tldr Or "Great, another coder"
        p I'm presently employed with IBM UrbanCode out of Cleveland OH. (We're hiring)  Prior to that, I was heavily involved in the creation of the <a href="protectus.com/sentry">Protectus Sentry</a>, a product I still love, use, and support.
        p Non-code things I'm involved in include The FEST, getting to know my lovely fiancee, being a studious Catholic, and riding the bus.
        p I've also got some side projects and little code spikes that I play around with.

  .shell
    #shell-panel
      #shell-view
  
