extends layout

block content

  .top-thing
    .container
      .row
        .col-xs-5.col-sm-6.text-right
          img.userpic(src="images/me.jpg")
        .col-xs-7.col-sm-6.text-left
          h1 Hello,<br>I'm Tim<span class="hidden-xs">.</span>

  .container
    .row
      .col-xs-12.col-md-8.col-md-offset-2
        p
          | You've stumbled upon an experimental site that I've put up using 
          a(href="https://console.ng.bluemix.net/home/") IBM's Bluemix platform
          | .  You won't find much content, though there may be some tech demos here and there.

  .container
    .row
      .col-xs-12.col-md-8.col-md-offset-2
        h2.under-top-thing About Me
        p I'm presently employed with <a href="https://developer.ibm.com/urbancode/">IBM UrbanCode</a> out of Cleveland OH. Prior to that, I was heavily involved in the creation of the <a href="http://protectus.com/sentry">Protectus Sentry</a>, a product I still love, use, and support.
        p Non-code things I'm involved in include <a href="http://thefest.us">The FEST</a>, getting to know my lovely wife and son, being a studious Catholic, and riding the bus.
        p I've also got a few <a href="/code">side projects and code spikes</a> that I play around with.
  
