@import url(http://fonts.googleapis.com/css?family=Montserrat);

// Set variables that bootstrap will use
$gray-base ?= #7D8C93

$body-bg ?= #1E1E23

$font-family-sans-serif ?= "Montserrat", "Helvetical Neue", Helvetica, Arial, sans-serif
$font-size-base ?= 16px

@require '../components/bootstrap-stylus/bootstrap/index.styl'
@require '../components/bootstrap-stylus/bootstrap/theme.styl'

.top-thing 
  margin-top 50px
  margin-bottom 50px
